<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become Admin</title>
    <link rel="stylesheet" href="/static/become-admin.css" />
  </head>
  <body>
    <%-include("header")%>
    <h1>Become a Admin !!!!</h1>
    <form action="/become-admin" method="POST">
      <label>Secret Password:<br /><input name="code" /></label>
      <button>Submit</button>
    </form>
    <%if(locals.isFailure){%>
    <div class="errors">
      <p>please enter valid admin code</p>
    </div>
    <%}%>
  </body>
</html>
