<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/sign-up.css" />
  </head>
  <body>
    <%- include("header") %>
    <h1>Sign up</h1>
    <form>
      <label>First Name:<br /><input name="first-name" /></label>
      <label>Last Name:<br /><input name="last-name" /></label>
      <label>User Name:<br /><input name="username" /></label>
      <label>Password:<br /><input name="password" /></label>
      <label>Confirm Password<br /><input name="confirm-password" /></label>
      <label
        >Member or Admin Code:<br /><input
          name="member-code"
          placeholder="(optional)"
      /></label>
      <button>Submit</button>
    </form>
  </body>
</html>
